/* Media query for small devices
@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
    }

    .navbar > div {
        margin-bottom: 1rem;
    }

    #mobile-menu {
        background-color: #F85559;
        top: 100%;
        right: 0;
    }

    #menu-toggle:checked + #mobile-menu {
        display: block;
    }

    .hidden {
        display: none;
    }
}
